// general design

$primary: #6b4f1e;
$info: #d0b18a;
$danger: #973424;
$warning: #582c25;
@import "~bootstrap/scss/bootstrap.scss";

body {
  background-color: #fbb53b;
}

.main-section {
  margin: 0 auto;
  padding: 0px;
  position: relative;
  margin-top: 20vh;
}

.modal-content {
  background-color: #e6e6e600;
  padding: 10px;
  border-radius: 15px;
  border: 0;
}

.input {
  margin-bottom: 10px;
}

.form-control {
  border-radius: 15px;
  border: 0;
  background-color: #e8f0fe;
}

.validate-error {
  color: red;
  left: 0%;
  font-size: 12px;
}

// table
.img-hero {
  object-fit: cover;
  border-radius: 50%;
  height: 50px;
  width: 50px;
}
.bdr {
  border-radius: 15px;
  overflow: hidden;
}
.t-search {
  border-radius: 0 0 15px 15px;
}
.title-table {
  font-size: 20px;
}
.actions-col {
  min-width: 180px;
}

//details
.details {
  background-color: #e1dcd2;
  padding: 10px;
  border-radius: 15px;
  border: 0;
}

.text-left {
  text-align: left;
  font-size: 15px;
}

.big {
  height: 150px;
  width: 150px;
}

// buttons
.btn {
  border-radius: 100px;
}
.btn-primary {
  width: 50%;
  margin: 10px;
  max-width: 150px;
  min-width: 120px;
}

.myteam-btn {
  margin: 0px;
  width: 100px;
  position: absolute;
  top: 10px;
  left: 10px;
}

.logout-btn {
  position: absolute;
  top: 10px;
  right: 10px;
}

// search bar and button
.search-btn {
  border-radius: 0 15px 15px 0;
  margin: 0%;
  width: 70px;
}

.searchbar {
  width: 25vw;
  min-width: 280px;
  margin-bottom: 20px;
}

// illustrations & logo
.page-img {
  margin-top: 40px;
  margin-bottom: 10px;
}

.il-login {
  width: 25%;
  min-width: 200px;
  bottom: 0;
  left: 0;
  position: absolute;
}

.il-search {
  width: 75vh;
  min-width: 200px;
  bottom: 5%;
  right: 5%;
  position: absolute;
  z-index: -1;
}

.il-home {
  width: 75vh;
  min-width: 200px;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

//bubbles
.bubbles {
  background-color: black;
  border-radius: 15px 15px 0px 0px;
  color: white;
}

.bubble {
  margin: 0 2px 0 2px;
}

.goodColor {
  color: #008450;
}
.badColor {
  color: #b81d13;
}
.neutralColor {
  color: #efb700;
}

// mobile
@media only screen and (hover: none) and (pointer: coarse) {
  .il-search {
    width: 95vw;
  }
  .il-home {
    width: 95vw;
  }
  .bubbles span {
    display: block;
  }
}
